extends layout

block content
	.marble
		img(src="../images/marblepineapple1.jpg" alt="marble")
		.marbletext All Entries
	each blogpost in postList
		.allposts
			.blogtitle
				| #{blogpost.title}
			br
			.blogbody
				| #{blogpost.body}
			a(href='/entries/'+blogpost.id) Learn More