extends layout

block content
	h1 Sign Up!
	form.col.s12(action='/signup', method='POST', autocomplete='off', enctype='multipart/form-data')
		p First Name
		input(type='text', name='firstname', placeholder='first name' required)
		br
		p Last Name
		input(type='text', name='lastname', placeholder='last name' required)
		br
		p Username
		input(type='text', name='username', placeholder='Enter your username' required)
		br
		p Email
		input(type='text', name='email', placeholder='Enter your email' required)
		br
		p Password
		input(type='password', name='password', placeholder='Choose a password' required)
		br
		p Profile Picture
		input(type='file', name='profileImage', placeholder='Make yourself look good')
		br
		br
		button.btn.btn-default#signup(type="submit", name="submit") CREATE ACCOUNT
		p= message