/* 
GREEN COLORS
- lighter #98a18a
- darker #506254, #3a4b39
- very light #c6e7d2 

## GREY COLORS
- very light #e0dedf
- medium #9ba1a5
- slightly darker #83888b


/*
font-family: 'Absurdsans FP';
font-family: 'Roboto';
font-family: 'Roboto Cn';
font-family: 'Paradox';
font-family: 'KG A Little Swag';
font-family: 'CaslonCP';
font-family: 'Bebas Kai';
font-family: 'Buba DEMO Outline';
font-family: 'Shorthalt';
*/




/* -----------------------------------------------
                BASIC STYLING 
-----------------------------------------------*/
.container {
    display: grid;
    grid-template-columns: repeat(19, 2fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    font-family: 'Helvetica', sans-serif;
    color: black;
}

html {
    font-size: 17px;
}

* {
    font-family: 'Helvetica', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: #506254;
}

/*HEADINGS-----------------------------------------*/
h1 {
    font-family: 'CaslonCP';
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
    font-family: 'CaslonCP';
    margin:0;
    padding:0;
}

h3 {
    font-family: 'CaslonCP';
    font-size: 2rem;
    text-decoration: underline;
    margin:15px;
    padding:0;
}


h4 {
    font-size: 1.5rem;
    margin:0;
    padding:0;
}

h5 {
    font-family: 'CaslonCP';
    font-size: 1.2rem;
    margin:0;
    padding:0;
    margin:10px;

}

h6 {
    font-size: 1rem;
    margin:0;
    padding:0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 1rem;
}


.createdAt {
    font-style: italic;
    font-size: 0.8rem;
    color: grey;
}


#error-message {
    background: rgba(152, 161, 138, 0.5);
    display: inline-block;
}


/* -----------------------------------------------
            NAV BAR & HEADER
-----------------------------------------------*/

.navbar {
    grid-row: 1/2;
    grid-column: 1/20;
    background: rgba(152, 161, 138, 0.5);
    color: white;
    padding: 1em;
    border: 2px solid white;
}

.navbar-logo {
    align-self: center;
    grid-row: 1/2;
    grid-column: 17/19;
    width: 50%;
    height: auto;
}

.nav-home {
    align-self: center;
    grid-row: 1/2;
    grid-column: 2/4;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-profile {
    align-self: center;
    grid-row: 1/2;
    grid-column: 4/6;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-newentry {
    align-self: center;    
    grid-row: 1/2;
    grid-column: 6/8;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-allusers {
    align-self: center;
    padding-left: 15px;
    grid-row: 1/2;
    grid-column: 8/10;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-entries {
    align-self: center;
    grid-row: 1/2;
    grid-column: 10/12;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-logout {
    align-self: center;
    grid-row: 1/2;
    grid-column: 12/14;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}



/* -----------------------------------------------
                 LANDING PAGE
-----------------------------------------------*/

.marble {
    position: relative;
    text-align: center;
    color: black;
}

.marble,
img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
}

.marbletext {
   font-family: 'CaslonCP';
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
}





/* -----------------------------------------------
        MAIN PIC W/ DROP-DOWN TEXT
-----------------------------------------------*/

.profile-mainpic {
    grid-row: 1/7;
    grid-column: 1/20;
    object-fit: cover;
    z-index: -1;
}

#IntroText {
    grid-row: 2/4;
    grid-column: 2/9;
    z-index: 2;
    color: black;
}


/* -----------------------------------------------
                SIGNUP PAGE             (signup.pug)
-------------------------------------------------*/


.pw-require {
    display: inline-block;
    font-size: 1rem;
    color: black;
    text-align: left;
    background-color: #e0dedf;
    padding: 10px;
}


/* ------------------------------------------------
            PROFILE PAGE:           (profile.pug)
--------------------------------------------------*/

.profile-info {
    grid-column: 1/8; 
    grid-row: auto;
    color: black;
    border: 5px solid #98a18a;
    padding: 15px;
    text-align: center;
    margin: 5px;
}

.profile-image img {
    width: 50%;
    height: auto;
}

.user-blogposts {
    text-align: center;
    grid-column: 8/20;
    grid-row: auto;
    background-color: white;
    color: black;
    padding: 15px;
    border: 5px solid #98a18a;
    margin: 5px;
}

.user-posts {
    background-color: white;
    border: 5px solid #D3D3D3;
    width: 50%;
    height: auto;
    overflow: scroll;
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 15px;
    text-align: center;
}

.blogtitle2 {
    margin-top: 10%;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a4b39;
}

.blogbody2 {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}






/* ---------------------------------------------------
            SINGLE PROFILE PAGE     (profile_one.pug)
-----------------------------------------------------*/

.user-blogposts2 {
    text-align: center;
    grid-column: 8/20;
    grid-row: auto;
    background-color: white;
    color: black;
    padding: 15px;
    border: 5px solid #98a18a;
    margin: 5px;
}

.prof1pic {
    grid-column: 8/20;
    grid-row: auto;
}





/* -----------------------------------------------
             ALL USERS              (allusers.pug)
-------------------------------------------------*/

.allposts2 {
    background-color: white;
    border: 5px solid #98a18a;
    width: 20%;
    height: 250px;
    overflow: scroll;
    position: relative;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.user-firstname {
    font-weight: bold;
    color: black;
    letter-spacing: 3px;
}

.user-info {
    margin:0;
    padding:0;
}

.user-profile a {
    text-align: center;
    font-size: 1rem;
    color: grey;
    letter-spacing: 3px;
    margin:0;
    padding:0;
}

.user-pic img {
    border-radius: 100%;
    width: 50%;
    height: 100px;

}





/* -------------------------------------------------
         NEW POST                   (newentry.pug)        
---------------------------------------------------*/

.center-form {
    text-align: center;
    justify-content: center;
}

input {
    border: 1px solid #000000;
    padding: 10px;
    font-size: 1rem;
}

textarea {
    border: 1px solid #000000;
    padding: 10px;
    font-size: 1rem;
}

button {
    border: 1px solid #000000;
    font-size: 15px;
    padding: 0.8rem;
}

#blogtitle {
    width: 50%;
}

#blogbody {
    width: 50%;
    height: 200px;
}





/* ---------------------------------------------------
         ALL ENTRIES                    (entries.pug)        
----------------------------------------------------*/

.allposts {
    background-color: white;
    border: 5px solid #D3D3D3;
    width: 30%;
    height: 150px;
    overflow: scroll;
    position: relative;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.blogtitle {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a4b39;
}

.bloguser {
    text-align: center;
    font-size: 0.7rem;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
}





/* --------------------------------------------------
         ONE POST                   (entry_one.pug)      
---------------------------------------------------*/

.profile-mainpic {
    grid-row: 1/7;
    grid-column: 1/20;
    object-fit: cover;
    z-index: -1;
}

#IntroText2 {
    grid-row: 2/4;
    grid-column: 2/9;
    z-index: 2;
    color: black;
}

.blogpost {
    grid-column: 1/14;
    grid-row: auto;
    background-color: white;
    color: black;
    padding: 15px;
    border: 5px solid #98a18a;
    margin: 5px;
}


.blogpost-profile-pic img {
    width: 50%;
    height: auto;
}

.blogpost-profile {
    grid-row: 7/8;
    grid-column: 14/20;   
    color: black;
    border: 5px solid #98a18a;
    padding: 15px;
    text-align: center;
    margin: 5px;
}




/* --------------------------------------------------
            COMMENTS                (entry_one.pug)        
----------------------------------------------------*/

.commentform {
    text-align: center;
    grid-column: 1/9;
    grid-row: 8/10;
    background-color: white;
    color: black;
    border: 5px solid #98a18a;
    margin: 5px;
    padding: 15px;
}

#argument {
    width: 70%;
    height: 200px;
}

.comment-heading {
    text-align: center;
    grid-column: 9/20;
    grid-row: 8/9;
    border: 5px solid #98a18a;
    margin: 5px;
    font-size: 2rem;
}

.comments {
    text-align: center;
    grid-column: 9/20;
    grid-row: 9/15;
    font-size: 1rem;
}

.single-comment {
    border: 2px solid #98a18a;
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    background-color: #e0dedf;
}

.comment-user {
    text-align: center;
    text-decoration: underline;
}

.comment-body {
    font-size: 2rem;
}
