/* 
GREEN COLORS
- lighter #98a18a
- darker #506254, #3a4b39
- very light #c6e7d2 

## GREY COLORS
- very light #e0dedf
- medium #9ba1a5
- slightly darker #83888b

*/





/*----------BASIC STYLING----------*/
.container {
    display: grid;
    grid-template-columns: repeat(19, 2fr);
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    font-family: 'Helvetica', sans-serif;
    color: black;
}

html {
    font-size: 17px;
}

* {
    font-family: 'Helvetica', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: #506254;
}

h1 {
    font-family: 'CaslonCP';
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    font-family: 'CaslonCP';
}

h3 {
    font-family: 'CaslonCP';
    font-size: 2rem;
}


h4 {
    font-size: 1.5rem;
    display: inline-block;
}

h5 {
    font-family: 'CaslonCP';
    font-size: 1.5rem;
    background: rgba(152, 161, 138, 0.5);
    display: inline-block;

}

p {
    font-size: 1rem;
}
/* -------------------- */



/* ---------- NAV BAR & HEADER ---------- */
.navbar {
    grid-row: 1/2;
    grid-column: 1/20;
    background: rgba(152, 161, 138, 0.5);
    color: white;
    padding: 1em;
    border: 2px solid white;
}

.navbar-logo {
    align-self: center;
    grid-row: 1/2;
    grid-column: 17/19;
    width: 50%;
    height: auto;
}

.nav-home {
    align-self: center;
    grid-row: 1/2;
    grid-column: 2/4;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-profile {
    align-self: center;
    grid-row: 1/2;
    grid-column: 4/6;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-newentry {
    align-self: center;    
    grid-row: 1/2;
    grid-column: 6/8;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-allusers {
    align-self: center;
    padding-left: 15px;
    grid-row: 1/2;
    grid-column: 8/10;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-entries {
    align-self: center;
    grid-row: 1/2;
    grid-column: 10/12;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}

.nav-logout {
    align-self: center;
    grid-row: 1/2;
    grid-column: 12/14;
    color: white;
    font-size: 1rem;
    line-height: 2.3em;
}
/* -------------------- */





/* ---------- LANDING PAGE ---------- */


/*
font-family: 'Absurdsans FP';
font-family: 'Roboto';
font-family: 'Roboto Cn';
font-family: 'Paradox';
font-family: 'KG A Little Swag';
font-family: 'CaslonCP';
font-family: 'Bebas Kai';
font-family: 'Buba DEMO Outline';
font-family: 'Shorthalt';
*/



.marble {
    position: relative;
    text-align: center;
    color: black;
}

.marble,
img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
}

.marbletext {
   font-family: 'CaslonCP';
    font-size: 80px;
    /*font-weight: bold;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 10px;
}
/* -------------------- */





/* ---------- MAIN PIC WITH DROP-DOWN TEXT  ----------

Pug pages used in:
profile page (profile.pug)
single blog entry (entry_one.pug)

*/
.profile-mainpic {
    grid-row: 1/7;
    grid-column: 1/20;
    object-fit: cover;
    z-index: -1;
}

#IntroText {
    grid-row: 2/4;
    grid-column: 2/9;
    z-index: 2;
    color: black;
}
/* -------------------- */





/*-------------------------------------------------------------------------- */
/* ---------- PROFILE PAGE (profile.pug) ---------- */


.profile-section {
    grid-row: 7/12;
    grid-column: 1/20;
    background-color: green;
    color: white;
}

.profile-heading {
    grid-row: 7/8;
    grid-column: 1/20;
    background-color: white;
    color: green;
}

.profile-picture {

}

.post-section {
    grid-row: 12/20;
    grid-column: 1/20;
    background-color: blue;
    color: white;
}





/* profile section (left) */
.box-profile {
    grid-row: 7/12;
    grid-column: 1/10;
    background-color: white;
    text-align: center;
    
}

.heading-profile {
    grid-row: 7/8;
    grid-column: 1/10;
    text-align: center;
    background: rgba(152, 161, 138, 0.5);
    margin: 10px;
}

.profile-picture {
    grid-row: 8/12;
    grid-column: 1/5;
    text-align: center;
    border: 1px solid #98a18a;
    margin: 10px;
    color: black;
}

.profile-description {
    grid-row: 8/12;
    grid-column: 5/10;
    text-align: left;
    border: 1px solid #98a18a;
    margin: 10px;
    padding-left: 5px;

}

/* profile post section (right) */
.box-recentposts {
    grid-row: 7/12;
    grid-column: 10/20;
    text-align: center;
}

.heading-recentposts {
    grid-row: 7/8;
    grid-column: 10/20;
    text-align: center;
    background: rgba(152, 161, 138, 0.5);
    margin: 10px;
}


.allposts3 {
    grid-row: 8/12;
    grid-column: 10/15;
    background-color: white;
    border: 2px solid #D3D3D3;
    max-width: 40%;
    height: auto;
    overflow: scroll;
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.individual-post-title {
/*    display: inline-block;
    position: relative;*/
}

.individual-post-body {
    font-size: 1rem;
/*    display: inline-block;
    position: relative;*/
}

/* -------------------- */





/* ---------- ALL USERS (allusers.pug) ---------- */
.allposts2 {
    background-color: white;
    border: 2px solid #D3D3D3;
    width: 30%;
    height: auto;
    overflow: scroll;
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.user-firstname {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.user-info {
    padding-top: 5px;
    font-size: 1rem;
}

.user-profile a {
    text-align: center;
    font-size: 1rem;
    color: grey;
    letter-spacing: 3px;
}

.user-pic img {
    object-fit: cover;
}
/* -------------------- */





/* ---------- NEW POST (newentry.pug) ---------- */
.center-form {
    text-align: center;
    justify-content: center;
}

input {
    border: 1px solid #000000;
    padding: 10px;
    font-size: 1rem;
}

textarea {
    border: 1px solid #000000;
    padding: 10px;
    font-size: 1rem;
}

button {
    border: 1px solid #000000;
    font-size: 15px;
    padding: 0.8rem;
}

#blogtitle {
    width: 50%;
}

#blogbody {
    width: 50%;
    height: 200px;
}
/* -------------------- */





/* ---------- ALL ENTRIES (entries.pug) ---------- */
.allposts {
    background-color: white;
    border: 2px solid #D3D3D3;
    width: 30%;
    height: 200px;
    overflow: scroll;
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.blogtitle {
    margin-top: 10%;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a4b39;
}

.blogbody {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.bloguser {
    text-align: center;
    font-size: 0.7rem;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
}
/* -------------------- */






/* ---------- ONE POST (entry_one.pug) ---------- */

.profile-mainpic {
    grid-row: 1/7;
    grid-column: 1/20;
    object-fit: cover;
    z-index: -1;
}

#IntroText2 {
    grid-row: 2/4;
    grid-column: 2/9;
    z-index: 2;
    color: black;
}

/* blog post (left) */
.blogpost {
    /*grid-row: 7/12;*/
    grid-column: 1/14;
    grid-row: auto;
    background-color: white;
    color: black;
    padding: 15px;
    border: 5px solid #98a18a;
    margin: 5px;
}


/* user info (right) */
.blogpost-profile-pic img {
    width: 50%;
    height: auto;
}

.blogpost-profile {
    grid-row: 7/8;
    grid-column: 14/20;   
    background-color: #e0dedf;
    color: black;
    border: 5px solid #98a18a;
    padding: 15px;
    text-align: center;
    margin: 5px;
}


/* ---------- COMMENTS (entry_one.pug) ---------- */
/*.profile-picture {
    grid-row: 8/12;
    grid-column: 1/5;
    text-align: center;
    border: 1px solid #98a18a;
    margin: 10px;
    color: black;
}*/


.commentform {
    text-align: center;
    grid-column: 1/9;
    grid-row: 8/15;
    background-color: white;
    color: black;
    border: 5px solid #98a18a;
    margin: 5px;
    padding: 15px;
}

#argument {
    width: 70%;
    height: 200px;
}

.comments {
    text-align: center;
    grid-column: 9/20;
    grid-row: 8/15;
    font-size: 1rem;

}

.single-comment {
    border: 5px solid #98a18a;
    margin: 5px;
    font-size: 2rem;
}

.comment-body {
    font-size: 2rem;
}


.createdAt {
    font-style: italic;
    font-size: 0.5rem;
    color: grey;

}


/*-------------------------------------------------------------------------- */
/*  old profile page  */

/*PAGE PERCENTAGES
100% page length
50% user profile
25% profile pic
25% profile description
50% previous posts*/

/*50% user profile*/
/* .profilepic {
    float: left;
    position: relative;
    width: 25%;
    height: auto;
    display: inline-block;
    object-fit: cover;
    padding: 10px;
} 25% profile pic

.profilebox1{
    background-color: #e0dedf;
    text-align: center;
    float: left;
    position: relative;
    width: 25%;
    height: auto;
    display: inline-block;
    border: 3px solid #CDCCCC;
} 25% profile description

50% previous posts
.box-recentposts {
    text-align: center;
    width: 50%;
    height: auto;
    float: right;
    position: relative;
}

.heading-recentposts {
    text-align: center;
    height: 10%;
}

.box-post1 {
    background-color: #e0dedf;
    border: 1px dashed black;
    text-align: center;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    position: absolute;
    display: inline-block;
}*/
/*-------------------------------------*/




/*-------------------------------------*/
/* old nav bar */

/*.topnav {
    overflow: hidden;
    background-color: white;
    color: black;
    height: 10%;
    width: 100%;
    border: 1px solid #000000;

}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #D3D3D3;
    color: black;
}*/
/*-------------------------------------*/

